@media (max-width: 700px) {
  .inline {
    display: none;
  }
  .intro h3 {
     text-align: center;
  }

}
@media (min-width: 700px) {
   .side-nav-toggler {
    display: none;
  }
  section {
     width: 70%;
  }
  .side-nav {
     display: none;
  }
}